<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
<html>
  <head>
    <div class="header">
      <table>
        <tr>
          <td>
            <a href="/latest"
              ><img src="/images/logo.jpg" class="logo" alt="logo"
            /></a>
          </td>
          <td>
            <div class="navBar">
              <table>
                <tr class="spaceUnder2">
                  <td>
                    <h4>
                      <a href="/latest/contact">Contact us</a>
                    </h4>
                  </td>
                  <td>
                    <h5>
                      <a href="/latest/about">About us</a>
                    </h5>
                  </td>
                  <td>
                    <h6>
                      <a href="/latest/mission">Our mission</a>
                    </h6>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </head>
  <body>
    <p style="font-size: 40px; color: black; text-align: center">
      Thank you for submitting your info<br />
      Please click the logo to go back to home
    </p>
  </body>
</html>
