<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="/css/styles.css" />
<html>
  <head>
    <div class="header">
        <table>
            <tr>
                <td><a href="/latest"><img src="/images/logo.jpg" class="logo" alt="logo"/></a></td>
                <td><div class="navBar" >
                    <table>
                        <tr  class="spaceUnder2">
                            <td>
                                <h4><a href="/latest/contact">Contact us</a></h4>
                            </td>
                            <td>
                                <h5><a href="/latest/about">About us</a></h5>
                            </td>
                            <td>
                                <h6><a href="/latest/mission">Our mission</a></h6>
                            </td>
                        </tr>
                    </table>
                </div></td>
            </tr>
        </table>
    </div>
  </head>
  <body>
    <div class="body">
        <p>
      <img src="/images/school1.jpg" class="image" alt="img"/>  
       <img src="/images/school2.jpg" class="image" alt="img"/>  
        <img src="/images/school3.jpg" class="down-image" alt="img"/>  
    </p>
    <div class="loginSign">
            <h2 class="signup"><a href="/latest/signup">Signup</a></h2>
             <h3 class="login"><a href="/latest/login">Login</a></h2>
          
    </div>
    </div>
  </body>
</html>
